@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", "sans-serif";
    margin: 0;
    min-height: 100vh;
    background-color: #d4d3d3;
}
.btn{

    background-color: #f76e97;
    color: white;
    font-family: inherit;
    margin: 1rem;
    border: none;
    outline-style: none;
    padding: 3rem 3rem;
    border-radius: 6px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }